html,
body {
  height: 100%;
}

body {
  background-color: #2a2c29;
  margin: 0;
  font-family: Arial;
  overflow: hidden;
}

a {
  color: #ffffff;
}

#info {
  position: absolute;
  width: 100%;
  color: #ffffff;
  padding: 5px;
  margin-top: 20px;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#menu {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

button {
  color: rgba(127, 255, 255, 0.75);
  background: transparent;
  outline: 1px solid rgba(127, 255, 255, 0.75);
  border: 1px solid rgba(127, 255, 255, 0.75);
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 255, 255, 0.5);
}

button:active {
  color: #000000;
  background-color: rgba(0, 255, 255, 0.75);
}

.btn-logout {
  position: absolute;
  z-index: 999;
  right: 20px;
  top: 20px;
}
